<p>
  friends-connected works!
</p>

<!-- <p>Liste d'amis</p> -->
<div class="row">
  <div class="col-md-8 col-xs-12 col-sm-12 col-lg-5">
    <ul class="friends-list">
      <li><a href="" class="friends-text">
    <img class="img img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/jgoillot/128.jpg" alt="" />
  </a>
      </li>

      <li>
        <a href="" class="friends-text">
      <img class="img img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mattsince87/128.jpg" alt="" />
  </a>
      </li>

      <li>
        <a href="" class="friends-text">
      <img class="img img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/eduardo_olv/128.jpg" alt="" />
  </a>
      </li>

    </ul>
  </div>
</div>
