<!-- <div class="row" *ngIf="user"> -->
<div class="container">
  <div *ngIf="user">

    <div class="row">

      <!-- Partie gauche -->
      <div class="col-sm-3">


        <!-- Changement du profil de l'utilisateur -->
        <div class="row">
          <!-- Choix de la photo de profil -->
          <div class="form-group col-xs-offset-1 ">


            <label for="photoProfile">Photo de votre profil</label>
            <div>
              <div class="row">
                <div class="col-xs-10">
                  <!-- Preview -->
                  <div class="row" *ngIf="photoProfUpload">
                    <div class="col-xs-offset-1">
                      <p>Previsualisation</p>
                      <img src="{{photoProfUpload | showImage }}" alt="" class="img img-thumbnail img-responsive">
                    </div>
                  </div>
                  <!-- Preview -->



                  <!-- <div class="row">  -->
                  <div class="input-group">
                    <input type="file" class="form-control" #fileInput (change)="addFileEvent(fileInput)" aria-describedby="basic-addon1" accept="image/*">

                  </div>


                  <button class="btn btn-default addFileButton" (click)="addFile()" [disabled]="!isAddFile">Choisir</button>
                </div>

              </div>


            </div>
          </div>
          <!-- Choix de la photo de profil -->
        </div>

        <!-- Changement du profil de l'utilisateur -->

        <!-- Affichage / Edition du nom de l'utilisateur -->
        <div class="row">

          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <input type="text" name="firstname" value="{{user.firstname}}" [(ngModel)]="user.firstname">
              </div>
              <div class="col-sm-6">
                <input type="text" name="lastname" value="{{user.lastname}}" [(ngModel)]="user.lastname">
              </div>
            </div>
          </div>
        </div>
        <!-- Affichage / Edition du nom de l'utilisateur -->

        <!-- Affichage de l'age, du lieu d'habitation de l'utilisateur -->
        <div class="row">


          <div class="col-xs-12">
            <!-- Modification de la date de naissance -->
            <h5>Votre date de naissance</h5>
            <div class="row">
              <div class="col-xs-6 col-md-5">
                <label for="jourNaissance">Jour</label>
                <select class="form-control" id="jourNaissance" [(ngModel)]="jourNaissance" name="jourNaissance">
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option value="5">05</option>
                  <option value="6">06</option>
                  <option value="7">07</option>
                  <option value="8">08</option>
                  <option value="9">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
              </div>
              <div class="col-xs-6  col-md-5">
                <label for="moisNaissance">Mois</label>
                <select class="form-control" id="moisNaissance" [(ngModel)]="moisNaissance" name="moisNaissance">
                  <option value="1" >01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option value="5">05</option>
                  <option value="6">06</option>
                  <option value="7">07</option>
                  <option value="8">08</option>
                  <option value="9">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
              </div>
              <div class="col-xs-6 col-md-6">
                <label for="anneeNaissance">Année</label>
                <select class="form-control" id="anneeNaissance" [(ngModel)]="anneeNaissance" name="anneeNaissance">
                  <option value="1960">1960</option>
                  <option value="1961">1961</option>
                  <option value="1962">1962</option>
                  <option value="1963">1963</option>
                  <option value="1964">1964</option>
                  <option value="1965">1965</option>
                  <option value="1966">1966</option>
                  <option value="1967">1967</option>
                  <option value="1968">1968</option>
                  <option value="1969">1969</option>
                  <option value="1970">1970</option>
                  <option value="1971">1971</option>
                  <option value="1972">1972</option>
                  <option value="1973">1973</option>
                  <option value="1974">1974</option>
                  <option value="1975">1975</option>
                  <option value="1976">1976</option>
                  <option value="1977">1977</option>
                  <option value="1978">1978</option>
                  <option value="1979">1979</option>
                  <option value="1980">1980</option>
                  <option value="1981">1981</option>
                  <option value="1982">1982</option>
                  <option value="1983">1983</option>
                  <option value="1984">1984</option>
                  <option value="1985">1985</option>
                  <option value="1986">1986</option>
                  <option value="1987">1987</option>
                  <option value="1988">1988</option>
                  <option value="1989">1989</option>
                  <option value="1990">1990</option>
                  <option value="1991">1991</option>
                  <option value="1992">1992</option>
                  <option value="1993">1993</option>
                  <option value="1994">1994</option>
                  <option value="1995">1995</option>
                  <option value="1996">1996</option>
                  <option value="1997">1997</option>
                  <option value="1998">1998</option>
                  <option value="1999">1999</option>
                  <option value="2000">2000</option>
                  <option value="2001">2001</option>
                  <option value="2002">2002</option>
                  <option value="2003">2003</option>
                  <option value="2004">2004</option>
                  <option value="2005">2005</option>
                  <option value="2006">2006</option>
                  <option value="2007">2007</option>
                  <option value="2008">2008</option>
                  <option value="2009">2009</option>
                  <option value="2010">2010</option>
                  <option value="2011">2011</option>
                  <option value="2012">2012</option>
                  <option value="2013">2013</option>
                  <option value="2014">2014</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                  <option value="2028">2028</option>
                  <option value="2029">2029</option>
                  <option value="2030">2030</option>
                  <option value="2031">2031</option>
                  <option value="2032">2032</option>
                  <option value="2033">2033</option>
                  <option value="2034">2034</option>
                  <option value="2035">2035</option>
                  <option value="2036">2036</option>
                  <option value="2037">2037</option>
                  <option value="2038">2038</option>
                  <option value="2039">2039</option>
                </select>
              </div>
            </div>
          </div>




          <div class="col-xs-10 col-xs-offset-2">
            <!-- Modification de l'image de profil -->
          </div>



          <!-- Sexe de l'utilisateur -->
          <div class="row">
            <div class=" col-xs-offset-2 col-xs-2">
              <input id="maleChoice" type="radio" name="gender" value="0" [(ngModel)]="user.gender"> <label for="maleChoice">H</label>

            </div>
            <div class="col-xs-2">

              <input id="femaleChoice" type="radio" name="gender" value="1" [(ngModel)]="user.gender"> <label for="femaleChoice">F</label>

            </div>
          </div>
          <!-- Fin Sexe de l'utilisateur -->

          <!-- Ville / Pays -->

          <div class="col-xs-12">
            <label for="city">Votre ville d'habitation</label>
            <input type="text" name="city" value="{{user.city}}" [(ngModel)]="user.city">
          </div>

          <div class="col-xs-12">
            <label>
                  <input type="text" name="country" value="{{user.country}}" [(ngModel)]="user.country" >
                  </label>
          </div>

        </div>
        <!-- Affichage de l'age, du lieu d'habitation de l'utilisateur -->

      </div>
      <!-- Partie gauche -->

      <!-- Partie centre -->
      <div class="col-sm-6">
        <!-- Descriptif de l'inscrit -->
        <div class="row">
          <h4>A propos</h4>

          <div class="col-sm-8">
            <textarea type="text" name="presentation" value="{{user.presentation}}" rows="4" cols="50" [(ngModel)]="user.presentation"></textarea>
          </div>

        </div>
        <!-- Descriptif de l'inscrit -->

        <!-- Liste des pays visités -->
        <div class="row">
          <h4>Pays visités</h4>


          <!-- New Country -->
          <div class=" col-xs-10 newCountry">
            <!-- Ajout nouveau pays -->
            <div class="row">
              <div class="col-xs-7 col-xs-offset-1">
                <input type="text" id="visitedCountry" placeholder="" name="visitedCountry" [(ngModel)]="newVisitedCountry">
              </div>

              <div class="col-xs-2 add" (click)="addCountry()"><img class="img img-responsive countryBtn" src="/assets/images/plus.png" alt="Add"> </div>

            </div>
            <!-- Affichage de la liste des pays -->
            <div class="row">
              <!-- <ul class="citiesList">
                <li *ngFor="let countryName of user.visitedCountries">
                  <label for="">{{countryName}}</label>

                  <button class="btn btn-sm btn-danger remove" (click)="removeCountry(countryName)">-</button>

                </li>
              </ul> -->
              <div *ngFor="let countryName of user.visitedCountries">
                <div class="col-xs-7 col-xs-offset-1">{{countryName}}</div>


                <div class="col-xs-2 remove" (click)="removeCountry(countryName)"><img class="img img-responsive countryBtn" src="/assets/images/minus.png" alt="remove" (click)="removeCountry(countryName)"
                    width="30"></div>

              </div>
            </div>
          </div>
        </div>
        <!-- Liste des pays visités -->

      </div>
      <!-- Partie centre -->

      <!-- Partie droite -->
      <div class="col-sm-3">
        <div class="rows">
          <rts-last-message-view [user]="user"></rts-last-message-view>
        </div>
        <div class="rows" *ngIf="user.friendsList">
          <div class="col-xs-12">
            <h4>Mes amis</h4>
          </div>
          <div class="col-sm-12 col-md-8">
            <div class="row">
              <div *ngFor="let friend of user.friendsList">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                  <a href="{{friend.link}}"> <img class="img img-responsive img-circle profile-face" src="{{friend.imgProfile}}" title="{{friend.name}}"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Partie droite -->
      <!-- </div> -->
      <!-- </div>  -->
    </div>


    <!-- <div class="separation"></div>  -->
    <!-- <div class="row">
    <div class="col-xs-12">
      Pays visités
    </div>
  </div> -->
    <!-- </div> -->
    <!-- Bloc intermédiaire -->


    <div class="separation"></div>
    <!-- <div class="container"> -->
    <div class="row">
      <div class="map-monde">
        <!-- Map google       -->
      </div>
    </div>
  </div>
</div>
