/* Global */

.admin-messages {
  margin-top: 20px;
}


/* Tableau */

thead {
  background-color: #A8A1A1;
  color: #ececec;
}

td {
  width: 350px;
}

h3 {
  margin-top: 10px;
}

.menu-left .glyphicon {
  margin-right: 10px;
}

.menu-left {
  padding: 0px;
}

.menu-left table tr td {
  padding-left: 15px
}

.menu-left .table {
  margin-bottom: 0px;
}
