<div class="row">
  <div class="profile-page">
    <div class="slider">
      <div class="row">
        <div class="col-sm-6 title-text">
          <h1>
            Voyages et <span>partages</span><br /> tes expériences avec tes amis
          </h1>
        </div>
      </div>
    </div>
    <div class="separation"></div>
    <!-- sous menu -->
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4 text-center">
            <ul>
              <li (click)="postActiveMode()" [ngClass]="{'activeMenuLeftClass': isPostActive}"><a>Les derniers posts</a></li>
              <li (click)="profilActiveMode()" [ngClass]="{'activeMenuRightClass': !isPostActive}"><a>Voir le profil complet</a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>
    <!-- sous menu -->
    <div class="separation"></div>

    <!-- ajout d'un post -->
    <!-- <div class="row">
      <div class="container">
        <div class="row">
          <p class="text-center">Ajouter un post</p>
          <textarea name="" id="" cols="30" rows="10">Ajouter un post</textarea>
          <button class="btn btn-default">Publier</button>
          <input type="button" value="Publier" class="btn btn-default">
        </div>
      </div>
    </div> -->
    <!-- ajout d'un post -->

    <!-- liste des posts -->
    <div class="row" *ngIf="isPostActive">
      <div class="container">
        <div class="row">
          <rts-post-view></rts-post-view>
          <!-- <p class="text-center">Derniers posts</p> -->
        </div>
      </div>
    </div>
    <!-- liste des posts -->

    <!-- affichage du détail du profil de l'utilisateur -->
    <div *ngIf="getUserProfile && !isPostActive">
      <rts-profile-view [user]="user" [suivi]="suivi" [isOwnProfile]="isOwnProfile" [lastPostMessage]="lastPostMessage"> </rts-profile-view>
    </div>
  </div>
  <!-- affichage du détail du profil de l'utilisateur -->
</div>
