<div *ngIf="user">
  <div class="row">

    <!-- Partie gauche -->
    <div class="col-sm-3">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-1">
          <img class="img img-responsive img-circle avatarFace" src="{{user.avatar | showImage }}">
        </div>
      </div>

      <!-- Affichage / Edition du nom de l'utilisateur -->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <h4 class="text-center">
            {{user.firstname}} {{user.lastname}}
          </h4>
        </div>
      </div>
      <!-- Affichage / Edition du nom de l'utilisateur -->

      <!-- Affichage de l'age, du lieu d'habitation de l'utilisateur -->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="row">

            <div class="col-xs-10 col-sm-4 col-md-4 col-md-offset-2 text-center" *ngIf="age">
              <p>{{age}} ans</p>
            </div>

            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-1">
              <i class="fa fa-mars" aria-hidden="true" *ngIf="user.gender == 0"></i>
              <i class="fa fa-venus" aria-hidden="true" *ngIf="user.gender == 1"></i>
            </div>

            <div class="col-xs-10 col-sm-4 col-md-10 text-center">
              <p>
                <span><img src="{{pinImg}}" height="25" ></span> {{user.city}} - {{user.country}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Affichage de l'age, du lieu d'habitation de l'utilisateur -->

      <!-- Partie suivre / suivi /envoi d'un message à un inscrit -->
      <div class="row">
        <div *ngIf="!isOwnProfile">
          <div class="col-xs-4 col-md-1 col-md-offset-2">
            <a class="glyphicon glyphicon-comment action" title="Ecrire" aria-hidden="true"></a>
          </div>
          <div class="col-xs-4 col-md-1">
            <a class="glyphicon glyphicon-envelope action" title="Envoyer un message privé" aria-hidden="true" (click)="onSendPrivateMessage(user)"></a>
          </div>

          <div class="col-xs-4 col-md-4 action action-follow">
            <a *ngIf="!suivi" (click)="onFollow()" class="action action-follow">
              <span class="glyphicon glyphicon-star-empty" title="Suivre"></span> Suivre
            </a>

            <a *ngIf="suivi" (click)="unFollow()" class="action action-follow">
              <span class="glyphicon glyphicon-star" title="Suivi"></span> Suivi
            </a>
          </div>
        </div>
      </div>
      <!-- Partie suivre / suivi /envoi d'un message à un inscrit -->
    </div>
    <!-- Partie gauche -->

    <!-- Partie centre -->
    <div class="col-sm-6">
      <!-- Descriptif de l'inscrit -->
      <div class="row">
        <h4>A propos</h4>
        <div class="col-sm-8 col-sm-offset-1">
          {{user.presentation}}
        </div>
      </div>
      <!-- Descriptif de l'inscrit -->

      <!-- Liste des pays visités -->
      <div class="row">
        <h4>Pays visités</h4>
        <div class="row">
          <div class="col-sm-10 col-xs-10">
            <div class="row" *ngIf="user.visitedCountries">
              <div *ngFor="let visitedCountry of user.visitedCountries">
                <p class="text-center action-follow visited visited-border col-md-3 col-sm-8 col-xs-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">{{visitedCountry}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Liste des pays visités -->

    </div>
    <!-- Partie centre -->

    <!-- Partie droite -->
    <div class="col-sm-3">
      <div class="rows">
        <rts-last-message-view [user]="user"></rts-last-message-view>
      </div>
      <div class="rows" *ngIf="user.friendsList">
        <div class="col-xs-12">
          <h4>Mes amis</h4>
        </div>
        <div class="col-sm-12 col-md-8">
          <div class="row">
            <div *ngFor="let friend of user.friendsList">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                <a href="{{friend.link}}"> <img class="img img-responsive img-circle profile-face" src="{{friend.imgProfile}}" title="{{friend.name}}"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Partie droite -->
  </div>

  <!-- Bloc intermédiaire -->


  <div class="separation"></div>

  <div class="row">
    <div class="col-xs-12">
      <div class="map-monde">
        <!-- Map google       -->
      </div>
    </div>
  </div>
</div>
