h2 {
	color: #efe6e6;
}

.form-group {
  margin-bottom: 15px;
}

input, input::-webkit-input-placeholder {
  font-size: 11px;
  padding-top: 3px;
}

.isDispo{
	height:88px;
}

.main-register {
  color: #f5f5f4 ;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

  /* color: #4c4c4c;   */
  background-color: rgba(66, 81, 95, 0.72);
}

.register-button {
  margin-top: 5px;
}

.login-register {
  font-size: 11px;
  text-align: center;
}

a {
  padding: 5px 15px;
  color: #7f8c8d ;
}

button, button:active{
   width:200px;
  background-color: #e4dddd;
}

button:disabled{
  background-color: rgba(70, 62, 62, 0.95);
  color: #e6e3e3;
}

.alert{
  margin-top:15px;
}

.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label{
	color: #96c197;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label{
color:#bf8e8d	;
}

@media screen and (max-width: 410px) {
  .main-register{
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 0;
  }

  .register-container {
    min-height: 500px;
  }
}

@media screen and (min-width: 411px) and  (max-width: 1024px) {
.register-container {
    min-height: 700px;
     padding: 50px 30px;
  }

  h2{
    padding-top:  50px;
  }

  .main-register{
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 0;
  }
}

@media screen and (min-width: 1025px){
  h2{
    padding-top:  10px;
  }

  .register-container {
    height: 840px;
      padding: 25px 30px;
  }

   .main-register{
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 0;
  }
}
