h3 {}

ul {
  list-style-type: none;
}

.userDetails {
  border: 1px solid #8e8c8c;
  background-color: #2c4b6f;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.userDetails-presentation {
  border-right: 1px solid #8e8c8c;
  background-color: #2c4b6f;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.userDetails a {
  color: #aec2d4;
  text-decoration: none;
}

.userDetails a:hover {
  color: orange;
  text-decoration: none;
}

.dateDemande {
  margin-top: 27px;
}

button {
  background-color: rgba(240, 241, 241, 0.01);
  margin-top: 18px;
}

button img {
  width: 27px;
}

.separation {
  border-bottom: 1px solid orange;
  padding-bottom: 10px;
}
