 <div class="container"> 
  <div class="row">
    <div class="text-center">
      <h2 class="">About</h2>
      <div class="col-md-6 col-md-push-3">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo distinctio beatae incidunt cumque at ipsa modi illum
          quidem dolor! Inventore similique harum distinctio unde recusandae vero perspiciatis officia architecto iste.
        </p>
        <p>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto porro, voluptas quis nemo exercitationem vero soluta numquam sunt doloremque harum minus itaque, nisi laboriosam repellat nobis saepe consequatur aperiam pariatur.</span>
          <span>Porro alias ipsum error velit inventore harum quibusdam praesentium, maiores incidunt repudiandae in amet repellendus vitae accusantium deserunt omnis ullam, odit sint? Excepturi doloribus sed deleniti accusamus debitis sint nesciunt.</span>
          <span>Totam laboriosam nostrum, libero facere quis voluptatibus consectetur quisquam, eius eum tempora doloribus architecto quia quam laborum delectus voluptatem aliquid quasi ad repellendus error iure, animi asperiores? Consequatur, atque id.</span>
          <span>Similique explicabo nesciunt, maxime minus. Officiis dignissimos blanditiis consequuntur earum velit in ad mollitia quasi, ipsum corporis molestias asperiores sunt explicabo, facilis magni praesentium, eos quas ipsa sint ut. Nihil.</span>
          <span>Minus et voluptas labore, neque sunt ea alias veniam veritatis reprehenderit similique fuga dolor qui dolorum explicabo repellendus eos corporis ducimus! Odio perferendis nam asperiores nisi autem praesentium, modi. Earum!</span>
          <span>Adipisci eius, porro voluptatum, quisquam totam blanditiis. Enim dolor error quod ex asperiores nisi tempora iste aliquid voluptatem nesciunt labore incidunt, sapiente, tenetur recusandae deleniti consequatur quo accusantium aperiam minima!</span>
          <span>Quod, totam aspernatur quidem possimus earum cupiditate maxime cum repellat debitis consectetur ipsum numquam exercitationem. Perspiciatis possimus, cumque, veniam adipisci quia deleniti minima molestias magnam voluptatem, pariatur vel autem harum?</span>
          <span>Earum assumenda laudantium quasi sint. Laudantium eius obcaecati repellat, aut, eos quia necessitatibus facere nemo nostrum similique assumenda id quibusdam nulla blanditiis iusto praesentium commodi aspernatur animi minima quasi debitis.</span>
          <span>Maiores doloribus, fugit, minima facilis quidem sed nam provident incidunt maxime expedita ut veniam, id deleniti. Amet dolores mollitia vitae perspiciatis corrupti corporis eligendi, enim optio nisi. Optio, ducimus, eaque.</span>
          <span>Illum minima alias, perspiciatis minus non laborum debitis a illo facere nam atque, quis esse nihil ad. Quasi, debitis. Eveniet fuga obcaecati praesentium porro cupiditate corporis asperiores dolores rerum aut.</span>
        </p>
      </div>
    </div>
  </div>
 </div> 