<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
    <div class="text-center">
      <h2>Road Trip Social - reseau social</h2>
      <p>Projet de fin d'études <strong>Réseau social</strong></p>
    </div>
    <div class="row">

      <!-- Présentation -->
      <div class="col-sm-12">
        <h3>Présentation</h3>
        <div class="row">
          <div class="col-sm-10 col-sm-push-2">
            <p>Le site <strong> Roadrip Social</strong> est un site du type réseau social, qui permet à ses utilisateurs de
              partager se avis et expériences, liés aux différents voyages effectués.</p>
            <!-- <p>Des espaces d'échange publiques et privés sont présents, ainsi que la possibilité de discuter en temps réel entre
              les membres "amis"</p> -->
          </div>
        </div>
      </div>
      <!-- Présentation -->


      <!-- Fonctionnalités -->
      <div class="col-sm-12">
        <h3>
          Fonctionnalités
        </h3>
        <div class="row">
          <div class="col-sm-10 col-sm-push-2">
            <p>Je dois développer un site web type <em>&quot;facebook&quot;</em> avec les fonctionnalités suivantes :</p>
            <blockquote>
              <p><strong>FRONT OFFICE</strong></p>
              <ul>
                <li><strong>Gestion</strong> de l'inscription / connexion des utilisateurs.</li>
                <li><strong>Recherche</strong> des membres .</li>
                <li><strong>Espace privé</strong> pour chaque membre.</li>
                <li><strong>Publication</strong> d'articles par les membres.</li>
                <li><strong>Gestion</strong> de sa liste d'amis (ajout / suppression / recommandation).</li>
                <li><strong>Dialogue en temps réel</strong> chat.</li>
                <li><strong>MP</strong> messagerie privée entre membre.</li>
                <li><strong>Notification par mail</strong> lors d'un envoi de message à un membre (privé ou public).</li>
              </ul>
            </blockquote>
            <blockquote>
              <p><strong>BACK OFFICE</strong></p>
              <ul>
                <li><strong>Gestion des comptes des membres</strong> Modification / suppressions des profils et des articles.</li>
                <li><strong>Statistiques en temps réel</strong> Connexions, articles, messages reçus / envoyés.</li>
              </ul>
            </blockquote>
            <hr />

          </div>
        </div>
      </div>

      <!-- Fonctionnalités -->






      <!-- Solution technique -->


      <div class="col-sm-12">
        <h3>Stack technique et contraintes</h3>

        <div class="row">
          <div class="col-sm-10 col-sm-push-2">

            <blockquote>
              <p>Le site doit être <strong>compatible avec tous les navigateurs modernes</strong>. Il doit être <strong>ergonomique</strong>,
                <strong>Responsive desktop / tablette / mobile</strong>.</p>
            </blockquote>
            <blockquote>
              <p><strong>Dépendances Javascript obligatoires côté serveur:</strong></p>
              <ul>
                <li><strong>NodeJS</strong></li>
                <li><strong>Express</strong></li>
                <li><strong>MongoDB</strong></li>
                <li><strong>Socket IO</strong></li>
              </ul>
            </blockquote>
            <blockquote>
              <p><strong>Frameworks et librairies obligatoires côté client</strong></p>
              <ul>
                <li><strong>Angular 4</strong></li>
                <li><strong>jQuery</strong></li>
                <li><strong>Bootstrap</strong></li>
              </ul>
            </blockquote>
            <hr />
            <h2>Outils et librairies supplémentaires</h2>
            <p>J'ai utilisé les outils et librairies supplémentaires suivants :</p>
            <blockquote>
              <ul>
                <li><strong>Passport</strong> pour la gestion de la connexion.</li>
                <li><strong>bcrypt</strong> pour crypter les mots de passe.</li>
                <li><strong>Lusca</strong> pour sécuriser le site contre les malveillances.</li>
                <li><strong>CORS</strong> pour la sécurité des transfets ajax.</li>
                <li><strong>Mongoose</strong> pour inrefacer la base de donnée et le site web.</li>
                <li><strong>pug</strong> pour le moteur de template.</li>
              </ul>
            </blockquote>
          </div>
        </div>
      </div>
      <!-- Solution technique -->
    </div>

  </div>
</div>
