<div class="row">
  <h3 *ngIf="nbWaitingDemands>1">Vous avez {{nbWaitingDemands}} demandes d'amis en attente</h3>
  <h3 *ngIf="nbWaitingDemands===1">Vous avez {{nbWaitingDemands}} demande d'amis en attente</h3>
  <h3 *ngIf="nbWaitingDemands===0">Aucune demande en attente</h3>
</div>

<!-- Liste des demandes en attente -->
<div class="row">
  <ul>
    <li class="row userDetails" *ngFor="let demand of waitingfriendListDemands; let i = index">
      <!-- Qui -->
      <!-- date -->
      <!-- Accepter -->
      <!-- Refuser -->

      <div class="col-xs-5">

        <div class="row userDetails-presentation">
          <!-- </div> -->
          <a (click)="onShowDetail(i)">
            <div *ngFor="let friend of demand.friendsList">
              <div *ngIf=" friend._id !=ownId ">
                <!-- Photo de profile -->
                <div class="col-xs-2 ">
                  <img src=" {{friend.avatar | showImage}} " class="img img-responsive img-circle ">

                </div>
                <!-- Résumé -->
                <div class="col-xs-10 ">
                  <p> {{friend.nickname}}
                  </p>
                  <p> {{friend.firstname}} {{friend.lastname}}
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-3 dateDemande "> Demande du {{demand.dateDemande | date:'dd MMM'}}</div>
      <div class="col-xs-2 ">
        <button (click)="onClickAccept(i) " class="btn btn-default-accept " title="Accepter "><img src="/src/angular-src/src/assets/images/ok.png
            " alt="Accept button "></button>
      </div>
      <div class="col-xs-2 ">
        <button (click)="onClickRefused(i) " class="btn btn-position btn-default-refused " title="Refuser "><img src="/src/angular-src/src/assets/images/remove.png
            " alt="Refuse button "></button>
      </div>

    </li>
    <div class="separation "></div>
  </ul>
</div>
