.profile-page {
  background-color: #2c3e50;
  color: #e7dee7;
}

.slider {
  background-image: url('/assets/images/bg_page_profile.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-text h1 {
  font-family: Lato;
  font-weight: 300;
  text-align: left;
}

.title-text h1 span {
  font-family: Lato;
  font-weight: 400;
  text-align: left;
}

.separation {
  border-bottom-color: #e77b20;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 10px 0;
  width: 100%;
}

.change-password {
  padding-right: 1px;
  color: #e7dee7;
}

@media screen and (max-width: 640px) {
  .slider {
    height: 150px;
  }
  .title-text {
    padding-top: 2px;
    padding-left: 15px;
  }
  .title-text h1 {
    font-size: 25px;
  }
  .title-text h1 span {
    font-size: 25px;
  }
}

@media screen and (min-width: 641px) and (max-width:800px) {
  .slider {
    height: 150px;
  }
  .title-text {
    padding-top: 6px;
    padding-left: 60px;
  }
  .title-text h1 {
    font-size: 25px;
  }
  .title-text h1 span {
    font-size: 25px;
  }
}

@media screen and (min-width:801px) and (max-width: 1025px) {
  .slider {
    height: 150px;
  }
  .title-text {
    padding-left: 120px;
  }
  .title-text h1 {
    font-size: 28px;
  }
  .title-text h1 span {
    font-size: 28px;
  }
}

@media screen and (min-width: 1025px) {
  .slider {
    height: 350px;
  }
  .title-text {
    padding-top: 15px;
    padding-left: 60px;
  }
  .title-text h1 {
    font-size: 45.87px;
  }
  .title-text h1 span {
    font-size: 45.87px;
  }
}
