<div class="admin-messages">
  <h2 class="text-center">
    Gestion des Messages
  </h2>

  <h3>Listes des messages</h3>
  <div class="row" *ngIf="messagesList">
    <div class="col-xs-10 col-xs-offset-1">
      <table class="table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Auteur</th>
            <th>Destinataire</th>
            <th>Message</th>
            <th>Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let message of messagesList; let i = index">
            <td style="width: 30px;">{{i}}</td>
            <td>{{message.sendDate | date:'dd MMM'}}</td>
            <td>{{message.sender.nickname}}</td>
            <td>{{message.receiver.nickname}}</td>
            <td>{{message.content}}</td>
            <td title="Message">M</td>

            <td>
              <button class="btn btn-sm btn-danger" (click)="onDeleteMessage(i)">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h3>Listes des Posts</h3>
  <div class="row" *ngIf="postsList">
    <div class="col-xs-10 col-xs-offset-1">
      <table class="table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Auteur</th>
            <th>Message</th>
            <th>Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of postsList; let i = index">
            <td style="width: 30px;">{{i}}</td>
            <td>{{post.datePost | date:'dd MMM'}}</td>
            <td>{{post.autorId.nickname}}</td>
            <td>{{post.details}}</td>
            <td title="Post">P</td>

            <td>
              <button class="btn btn-sm btn-danger" (click)="onDeletePost(i)">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <h3>Listes des commentaires</h3>
  <div class="row" *ngIf="postsList">
    <div class="col-xs-10 col-xs-offset-1">
      <table class="table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Auteur</th>
            <th>Message</th>
            <th>Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let comment of commentsList; let i = index">
            <td style="width: 30px;">{{i}}</td>
            <td>{{comment.dateComment | date:'dd MMM'}}</td>
            <td>{{comment.nickname}}</td>
            <td>{{comment.text}}</td>
            <td title="Comment">C</td>

            <td>
              <button class="btn btn-sm btn-danger" (click)="onDeleteComment(i)">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
