<div class="row">
  <div class="change-password-page">
    <div class="row">

      <div class="text-center">
        <h2>{{title}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 main-change-password main-center">
        <form [formGroup]="PasswordChangeForm" class="form-vertical" (ngSubmit)="onPasswordChangeSubmit()" novalidate>

          <div class="form-group" [ngClass]="{
                  'has-error': lastPassword.invalid && lastPassword.dirty,
                  'has-success': lastPassword.valid && lastPassword.dirty
                  }">
            <label for="lastPassword" class="col-xs-8 col-xs-offset-2 text-center control-label">Votre ancien mot de passe :</label>
            <div class="col-sm-8 col-sm-offset-2 ">
              <input type="password" class="form-control" id="lastPassword" formControlName="lastPassword" name="lastPassword" [formGroup]="PasswordChangeForm">
            </div>
          </div>

          <div class="form-group" [ngClass]="{
          'has-error': newPassword.invalid && newPassword.dirty,
          'has-success': newPassword.valid && newPassword.dirty
          }">
            <label for="newPassword" class="col-sm-8 control-label col-sm-offset-2 text-center">Nouveau mot de passe :</label>
            <div class="col-sm-8 col-sm-offset-2 ">
              <input type="password" class="form-control" id="newPassword" formControlName="newPassword" name="newPassword" [formGroup]="PasswordChangeForm">
            </div>
            <!-- <div class="clearfix"></div> -->

          </div>


          <div class="form-group" [ngClass]="{
          'has-error': newPasswordConfirm.invalid && newPasswordConfirm.dirty,
          'has-success': newPasswordConfirm.valid && newPasswordConfirm.dirty
          }">
            <label for="newPasswordConfirm" class="col-sm-8 control-label col-sm-offset-2 text-center">Confirmez :</label>
            <div class="col-sm-8 col-sm-offset-2 ">
              <input type="password" class="form-control" id="newPasswordConfirm" formControlName="newPasswordConfirm" name="newPasswordConfirm"
                [formGroup]="PasswordChangeForm">
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6 col-sm-offset-3 text-center alert alert-danger" *ngIf="newPasswordConfirm.errors && (newPasswordConfirm.dirty || newPasswordConfirm.touched)">
              <div class="clearfix"></div>
              <div class="row">
                <div class="" *ngIf="(newPasswordConfirm.dirty || newPasswordConfirm.touched)">
                  <p *ngIf="(newPassword.value !== newPasswordConfirm.value)">Les mots de passe sont différents</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3 text-center alert alert-danger" *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)">
              <p *ngIf="newPassword.errors.required" class="">Un mot de passe est requis</p>
              <p *ngIf="newPassword.errors.minlength">Trop court : <br />min 4 caractères</p>
              <p *ngIf="newPassword.errors.maxlength">Trop long : <br /> max 16 caractères</p>
            </div>
          </div>

          <div class="clearfix"></div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-default" [disabled]="!PasswordChangeForm.valid">Valider</button>
            <!--<button type="submit" class="btn btn-default">S'inscrire</button>-->
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
