.post {
  border: 1px solid #807a7a;
  margin-top: 15px;
  margin-bottom: 15px;
}

.post-content {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(66, 85, 103);
  margin-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.comment {
  background-color: #646b79;
  border-left: 1px solid #4B4848;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}
