/* Mise en page générale */

.feeds-page {
  background-color: #2c3e50;
  color: #e7dee7;
  height: 100%;
}

.feeds-header {
  /* background:linear-gradient(45deg,  #2c3e50, #CCE0F8); */
  background-image: url('/assets/images/people.jpg');
  background-size: cover;
  /* background-position: center; */
  background-position: 0 -228px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-control {
  /* background-color: #464a50; */
  background-color: rgba(255, 255, 255, 0);
  color: #FEFEFE;
}

.form-control::-webkit-input-placeholder {
  color: #cac1c1;
}


/* Mise en page générale */


/* Classes de séparation */

.separation-hz {
  border-bottom-color: #e77b20;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 5px 0;
  width: 100%;
}

.separation-vl {
  border-left-color: #666;
  border-left-style: solid;
  border-left-width: 1px;
  height: 100%;
}

.separation-vr {
  border-right-color: #666;
  border-right-style: solid;
  border-right-width: 1px;
  height: 100%;
}


/* Classes de séparation */


/* Mise en forme du formulaire du post */

.send-message {
  resize: none;
}

.send-wrap {
  /* border-top: 1px solid #eee; */
  /* border-bottom: 1px solid #eee; */
  padding: 10px;
  /* background: #f8f8f8; */
  background: #2c3e50;
}

.send-message-btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-panel {
  background: #f7f7f9;
}

.btn-panel .btn {
  color: #b8b8b8;
  transition: 0.2s all ease-in-out;
}

.btn-panel .btn:hover {
  color: #666;
  background: #f8f8f8;
}

.btn-panel .btn:active {
  background: #f8f8f8;
  box-shadow: 0 0 1px #ddd;
}

.btn-panel-conversation .btn,
.btn-panel-msg .btn {
  background: #f8f8f8;
}

.btn-panel-conversation .btn:first-child {
  border-right: 1px solid #ddd;
}

.msg-wrap .media-heading {
  color: #003bb3;
  font-weight: 700;
}


/* Mise en forme du formulaire du post */
