<!-- <div class="row">
  <div class="container"> -->
<div class="row">


  <div class="feeds-page">

    <!-- Entete -->
    <div class="row">
      <div class="container">
        <div class="row feeds-header">
          <div class="col-xs-1">
            <img src="{{userAvatar}}" alt="" class="img img-responsive img-rounded">
          </div>
          <div class="col-xs-10 text-center">
            <h2>Votre actualité</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Entete -->

    <div class="separation-hz"></div>

    <!-- partie principale -->
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="text-center">

            <!-- partie gauche -->
            <div class="col-xs-2">
              <p>Partie Gauche</p>

              <ul>
                <li><a href="">Lien 01</a></li>
                <li><a href="">Lien 02</a></li>
                <li><a href="">Lien 03</a></li>
                <li><a href="">Lien 04</a></li>
                <li><a href="">Lien 05</a></li>
                <li><a href="">Lien 06</a></li>
                <li><a href="">Lien 07</a></li>
                <li><a href="">Lien 08</a></li>
                <li><a href="">Lien 09</a></li>
                <li><a href="">Lien 10</a></li>
              </ul>

            </div>
            <!-- partie gauche -->

            <div class="separation-vr"></div>

            <!-- Zone publication -->
            <div class="col-xs-8">
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                      <!-- <div class="input-group">
                            <input type="text" name="" id="" placeholder="Partagez un article, une nouvelle" class="form-control">
                          </div> -->


                      <div class="send-wrap ">

                        <textarea class="form-control send-message" rows="3" placeholder="Partagez un article, une nouvelle..."></textarea>


                      </div>
                      <div class="btn-panel">
                        <!-- <a href="" class=" col-lg-3 btn   send-message-btn " role="button"><i class="fa fa-cloud-upload"></i> Add Files</a> -->
                        <a href="" class=" col-lg-4 text-right btn   send-message-btn pull-right" role="button"><i class="fa fa-plus"></i> Send Message</a>
                      </div>
                    </div>


                  </div>

                  <div class="separation-hz"></div>

                  <p>Publication</p>
                  <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                      <!-- Affichage de tous les posts -->
                      <rts-post-view></rts-post-view>
                      <!-- Affichage de tous les posts -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Zone publication -->

            <div class="separation-vl"></div>

            <!-- Liste d'amis -->
            <div class="col-xs-2">
              <p>Liste d'amis</p>

              <ul>
                <li><a href="">Ami 01</a></li>
                <li><a href="">Ami 02</a></li>
                <li><a href="">Ami 03</a></li>
                <li><a href="">Ami 04</a></li>
                <li><a href="">Ami 05</a></li>
                <li><a href="">Ami 06</a></li>
                <li><a href="">Ami 07</a></li>
                <li><a href="">Ami 08</a></li>
                <li><a href="">Ami 09</a></li>
                <li><a href="">Ami 10</a></li>
              </ul>


            </div>
            <!-- Liste d'amis -->
          </div>
        </div>
      </div>
    </div>

    <!-- partie principale -->

    <!-- <p>
  feeds works!
</p> -->
  </div>
</div>
<!-- </div>
</div> -->
