<div class="row">
  <div class="profile-page">
    <div class="slider">
      <div class="row">
        <div class="col-sm-6 title-text">
          <h1>
            Voyages et <span>partages</span><br /> tes expériences avec tes amis
          </h1>
        </div>
      </div>
    </div>


    <!-- Entete - Bouton modifier / sauvegarder / Annuler -->
    <div class="row">
      <div class="container">
        <div class="row" *ngIf="isOwnProfile">
          <div class="col-xs-10 col-lg-10 col-md-10 col-sm-10">
            <h2> Votre profil </h2>
          </div>
          <div class="row">
            <div class="col-xs-2 col-lg-1 col-md-1 col-sm-1 text-right">
              <div class="row">
                <div class="col-xs-1 col-lg-1 col-md-1 col-sm-1" *ngIf="!isOnModif">
                  <span class="glyphicon glyphicon-pencil" style="color:#e0e0e0; padding-top: 27px;" (click)="modify()" title="Modifier"></span>
                </div>
                <div class="col-xs-1 col-lg-1 col-md-1 col-sm-1" *ngIf="isOnModif">
                  <span class="glyphicon  glyphicon-ok" style="color:#1fb734; padding-top: 27px;" (click)="save()" title="Sauver"></span>
                </div>
                <div class="col-xs-1 col-lg-1 col-md-1 col-sm-1" *ngIf="isOnModif">
                  <span class="glyphicon glyphicon-remove" style="color:#c44; padding-top: 27px;" (click)="reset()" title="Annuler"></span>
                </div>
              </div>
            </div>
          </div>
          <!-- 
          <div class="row">
            <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 col-md-offset-9 col-xs-offset-9 col-lg-offset-9  col-sm-offset-9" *ngIf="isOwnProfile">
              <a class="text-left change-password">Modifier mon mot de passe</a>
            </div>
          </div> -->

        </div>
      </div>
    </div>
    <!-- Entete - Bouton modifier / sauvegarder / Annuler -->

    <div class="separation"></div>
    <div class="row">
      <div class="col-xs-12">
        <rts-profile-view [user]="user" [suivi]="suivi" [isOwnProfile]="isOwnProfile" [lastPostMessage]="lastPostMessage" *ngIf="!isOnModif">
        </rts-profile-view>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <rts-profile-edit [user]="user" [suivi]="suivi" [isOwnProfile]="isOwnProfile" [lastPostMessage]="lastPostMessage" [onSave]="onSave"
          (newUser)="loadNewUser($event)" *ngIf="isOnModif"></rts-profile-edit>
      </div>
    </div>
  </div>
</div>
