<div class="row">
  <div class="col-md-10 col-md-push-1">
    <form action="" method="post" [formGroup]="sendMailForm" (ngSubmit)="onSendMessage()" novalidate>
      <!-- Destinataire -->
      <div class="form-group" [ngClass]="{ 
        'has-error': toInput.invalid && (toInput.dirty || toInput.touched), 
        'has-success': toInput.valid && (toInput.dirty || toInput.touched) ||nickname.length
      }">

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">@</span>
          <input type="text" id="to" name="toInput" formControlName="toInput" placeholder="@destinataire" class="form-control" [formGroup]="sendMailForm"
            [value]="nickname">
        </div>
      </div>
      <div *ngIf="memberList && onShowMemberList">
        <div class="row">
          <div *ngFor="let member of memberList; let i=index" class="col-md-4 " (click)="onSelectReceiver(i)">
            <p class="member-button">
              <span><img src="{{member.avatar | showImage}}" alt="Photo du membre" class="img img-thumbnail img-responsive" width="30"></span>{{member.nickname}}
            </p>
          </div>
        </div>


      </div>

      <!-- Corps du message -->
      <div class="form-group" [ngClass]="{ 
         'has-error': messageInput.invalid && (messageInput.dirty || messageInput.touched), 
         'has-success': messageInput.valid && (messageInput.dirty || messageInput.touched) 
        }">

        <textarea name="messageInput" formControlName="messageInput" id="message" cols="30" rows="2" placeholder="message ..." class="form-control"
          [formGroup]="sendMailForm"></textarea>
      </div>
      <div class="form-group  text-right">
        <button type="submit" class=" btn btn-success" [disabled]="!sendMailForm.valid">Envoyer <span class="glyphicon glyphicon-arrow-right"></span></button>
      </div>
    </form>
  </div>
</div>
