<div class="row">
  <div class="col-xs-12">
    <div class="row" *ngIf="postItems">

      <!-- Post-1 -->
      <div class="post" *ngFor="let postItem of postItems">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="post-content row">
            <div class="col-xs-2">
              <div class="row">
                <div class="col-xs-9">
                  <img src="{{postItem.autorId.avatar | showImage }}" alt="" class="img img-responsive img-circle">

                </div>
                <div class="col-xs-12">
                  {{postItem.autorId.nickname}}
                </div>
                <div class="col-xs-8 date-post">
                  {{postItem.datePost |date:'dd/MM/y'}}
                </div>
              </div>
            </div>
            <div class="col-xs-10">
              <div class="row">
                <div class="col-xs-11">
                  <p>
                    {{postItem.details}}
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-2 col-xs-offset-2 text-center" *ngIf="postItem.autorId._id === ownId"> <button class="btn btn-default btn-comment" (click)="dropPost(postItem._id)"><span class="glyphicon glyphicon-remove"></span> Supprimer</button></div>
                <div class="col-xs-2 col-xs-offset-2 text-center" *ngIf="postItem.autorId._id !== ownId"> <button class="btn btn-default btn-comment" (click)="onClickAddComment(postItem._id)"><span class="glyphicon glyphicon-pencil"></span> Commenter</button></div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="commentShow === postItem._id">
            <div class="col-xs-12">
              <div class="input-group">
                <input type="text" class="form-control" name="newComment" [(ngModel)]="newComment" placeholder="Ajouter un commentaire ...">
                <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="addComment(postItem._id)" > <img src="/assets/images/ok.png" alt="" sizes="" srcset="" height="15">  </button>
      </span>
              </div>
              <!-- /input-group -->
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12" *ngIf="commentList">
              <div class="comment row" *ngFor="let comment of postItem.commentId">
                <div class="comment col-xs-9 col-xs-offset-2">
                  <div class="row">
                    <div class="col-xs-2">
                      <div class="row">
                        <div class="col-xs-12">
                          <img src="{{comment.avatar | showImage}}" alt="" class="img img-responsive img-circle">
                        </div>
                        <div class="col-xs-12">
                          {{comment.autor}}
                        </div>
                        <div class="col-xs-8">
                          {{comment.datePost}}
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-10">
                      <div class="row">
                        <div class="col-xs-12">
                          <p>
                            {{comment.text}}
                          </p>
                        </div>
                      </div>
                      <!-- <div class="row">
                        <div class="col-xs-2 col-xs-offset-3">
                          <button class="btn btn-default btn-response" (click)="addResponse(comment.id)"><span class="fa fa-reply"></span> Répondre</button>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- Post-1 -->

    </div>
  </div>
</div>
