<!-- <p>Liste d'amis</p> -->

<ul class="friends-list">
  <li><a href="" class="friends-text">Ami 01</a></li>
  <li><a href="" class="friends-text">Ami 02</a></li>
  <li><a href="" class="friends-text">Ami 03</a></li>
  <li><a href="" class="friends-text">Ami 04</a></li>
  <li><a href="" class="friends-text">Ami 05</a></li>
  <li><a href="" class="friends-text">Ami 06</a></li>
  <li><a href="" class="friends-text">Ami 07</a></li>
  <li><a href="" class="friends-text">Ami 08</a></li>
  <li><a href="" class="friends-text">Ami 09</a></li>
  <li><a href="" class="friends-text">Ami 10</a></li>
</ul>
