<div class="row">
  <div class="col-lg-10 col-xs-8 col-lg-offset-1 col-xs-offset-2">

    <!-- Gauche -->
    <div class="row">
      <div class="col-sm-4 col-lg-4">
        <!-- Entete -->
        <h4 style="display: inline-block;">Messagerie </h4><a> <span class="glyphicon glyphicon-envelope"></span> </a>
        <div class="row">
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">@</span>
              <input type="text" id="to" name="toInput" placeholder="@destinataire" class="form-control" [formGroup]="sendMailForm" [value]="nickname">
            </div>
          </div>
        </div>
        <!-- Entete -->

        <!-- Liste de conversation -->
        <div class="row">

          <ul style="list-style-type: none;" class="col-xs-12">
            <li style="border: 1px solid black; background-color:#3c3c3c; margin-top:5px; margin-bottom:5px; padding:4px;">
              <div class="row">
                <div class="col-sm-5 col-md-5">
                  <a href="https://placeholder.com"><img src="http://via.placeholder.com/250x250" class="img img-responsive img-circle"></a>
                </div>
                <div class="col-sm-7 col-md-7">
                  <p>M. X - 01</p>
                  <p>25 aout</p>
                </div>
              </div>
            </li>

            <li style="border: 1px solid black; background-color:#3c3c3c; margin-top:5px; margin-bottom:5px; padding:4px;">
              <div class="row">
                <div class="col-sm-5">
                  <a href="https://placeholder.com"><img src="http://via.placeholder.com/250x250" class="img img-responsive img-circle"></a>
                </div>
                <div class="col-sm-7">
                  <p>M. X - 02</p>
                  <p>25 aout</p>
                </div>
              </div>
            </li>
            <li style="border: 1px solid black; background-color:#3c3c3c; margin-top:5px; margin-bottom:5px; padding:4px;">
              <div class="row">
                <div class="col-sm-5">
                  <a href="https://placeholder.com"><img src="http://via.placeholder.com/250x250" class="img img-responsive img-circle"></a>
                </div>
                <div class="col-sm-7">
                  <p>M. X - 03</p>
                  <p>25 aout</p>
                </div>
              </div>
            </li>
            <li style="border: 1px solid black; background-color:#3c3c3c; margin-top:5px; margin-bottom:5px; padding:4px;">
              <div class="row">
                <div class="col-sm-5">
                  <a href="https://placeholder.com"><img src="http://via.placeholder.com/250x250" class="img img-responsive img-circle"></a>
                </div>
                <div class="col-sm-7">
                  <p>M. X - 04</p>
                  <p>25 aout</p>
                </div>
              </div>
            </li>
            <li style="border: 1px solid black; background-color:#3c3c3c; margin-top:5px; margin-bottom:5px; padding:4px;">
              <div class="row">
                <div class="col-sm-5">
                  <a href="https://placeholder.com"><img src="http://via.placeholder.com/250x250" class="img img-responsive img-circle"></a>
                </div>
                <div class="col-sm-7">
                  <p>M. X - 05</p>
                  <p>25 aout</p>
                </div>
              </div>
            </li>
            <li style="border: 1px solid black; background-color:#3c3c3c; margin-top:5px; margin-bottom:5px; padding:4px;">
              <div class="row">
                <div class="col-sm-5">
                  <a href="https://placeholder.com"><img src="http://via.placeholder.com/250x250" class="img img-responsive img-circle"></a>
                </div>
                <div class="col-sm-7">
                  <p>M. X - 06</p>
                  <p>25 aout</p>
                </div>
              </div>
            </li>
          </ul>

        </div>
        <!-- Liste de conversation -->
      </div>
      <!-- Gauche -->


      <!-- Droite -->
      <div class="col-sm-8">
        <!-- Entete -->
        <div class="row">
          <div class="col-xs-12">
            <p>M. Tata</p>
          </div>
        </div>

        <!-- Entete -->

        <!-- Conversation -->
        <div class="row" style="border:1px solid block; background-color: #3f3f3f; padding:5px;">
          <div class="col-xs-12" style="border:1px solid block; background-color: #3f3f3f; padding:5px; ">
            <ul style="list-style-type: none;">
              <li>
                <div class="row">
                  <div class="col-xs-2 col-md-2 col-lg-2">
                    <a href="">
                <img src="http://via.placeholder.com/250x250" class="img img-responsive img-circle">
                </a>
                  </div>
                  <div class="col-xs-8" style="border:1px solid black; padding:4px;">
                    <!-- <div> -->
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, dignissimos. Facilis dolorem eaque aperiam labore, dicta
                    </p>
                    <!-- </div> -->
                  </div>
                </div>
              </li>
              <p class="text-right">26 aout</p>

              <!-- réponse -->
              <li>
                <div class="row">
                  <!-- <div class="col-xs-2">
                    <a href="">
                <img src="http://via.placeholder.com/250x250" class="img img-responsive img-circle">
                </a>
                  </div> -->
                  <div class="col-xs-8 col-xs-offset-4" style="border:1px solid black; padding:4px; margin-top:5px; margin-bottom:5px;">
                    <!-- <div> -->
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, dignissimos. Facilis dolorem eaque aperiam labore, dicta
                    </p>
                    <!-- </div> -->
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <!-- <div class="col-xs-2">
                    <a href="">
                <img src="http://via.placeholder.com/250x250" class="img img-responsive img-circle">
                </a>
                  </div> -->
                  <div class="col-xs-8 col-xs-offset-4" style="border:1px solid black; padding:4px; margin-top:5px; margin-bottom:5px;">
                    <!-- <div> -->
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, dignissimos. Facilis dolorem eaque aperiam labore, dicta
                    </p>
                    <!-- </div> -->
                  </div>
                </div>
              </li>
              <!-- réponse -->

              <li>
                <div class="row">
                  <div class="col-xs-2">
                    <a href="">
                <img src="http://via.placeholder.com/250x250" class="img img-responsive img-circle">
                </a>
                  </div>
                  <div class="col-xs-8" style="border:1px solid black; padding:4px;">
                    <!-- <div> -->
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, dignissimos. Facilis dolorem eaque aperiam labore, dicta
                    </p>
                    <!-- </div> -->
                  </div>
                </div>
              </li>
              <p class="text-right">27 aout</p>
            </ul>
          </div>
        </div>
        <!-- Conversation -->

        <!-- Ecriture réponse -->
        <div class="row">
          <div class="form-group" style="margin-top: 15px; ">
            <div style="border-top: 1px solid orange; padding-bottom:10px;"></div>
            <input type="text" class="form-control" id="" placeholder="">
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-default">Envoyer</button>
          </div>
        </div>
        <!-- Ecriture réponse -->

      </div>
      <!-- Droite -->

    </div>
  </div>
</div>
