<div class="row">
  <div class="col-lg-10 col-xs-12 col-lg-offset-1 ">

    <!-- Gauche -->
    <div class="row">
      <div class="col-sm-4 col-lg-4">
        <!-- Entete -->
        <h4>Messagerie </h4><a> <span class="glyphicon glyphicon-envelope"></span> </a>
        <div class="row">
          <div class="col-xs-12">

            <div class="col-md-12">
              <rts-send-message [doShownMessageInput]="true" (receiverName)="onNewContact($event)" [resetForm]="resetForm"></rts-send-message>
            </div>
          </div>
        </div>
        <!-- Entete -->

        <!-- Liste de conversation -->
        <div class="row contact-list">
          <ul class="col-xs-12 " *ngIf="contactMessengerList">
            <li *ngFor="let contactMessenger of contactMessengerList; let i=index">
              <div class="row">
                <a (click)="onClickContactMessager(i)">
                  <div class="col-sm-5 col-md-5">
                    <img src="{{contactMessenger.avatar | showImage}}" class="img img-responsive img-circle">
                  </div>
                  <div class="col-sm-7 col-md-7">
                    <p>{{contactMessenger.nickname}}</p>
                    <p>{{contactMessenger.lastPostDate|date:'dd MMM'}}</p>
                  </div>
                </a>
              </div>
            </li>
          </ul>

        </div>
        <!-- Liste de conversation -->
      </div>
      <!-- Gauche -->


      <!-- Droite -->
      <div class="col-sm-8">
        <!-- Entete -->
        <div class="row">
          <div class="col-xs-12">
            <div *ngIf="selectedContact">
              <p>{{selectedContact.nickname}}</p>
              <p>{{selectedContact.country}}</p>
            </div>
          </div>
        </div>

        <!-- Entete -->

        <!-- Conversation -->
        <div class="row conversation-block">
          <div class="col-xs-12" style="border:1px solid block; background-color: #3f3f3f; padding:5px; ">
            <ul style="list-style-type: none;">
              <li>
                <div class="row">
                  <div class="col-xs-2 col-md-2 col-lg-2">
                    <a href="">
                <img src="http://via.placeholder.com/250x250" class="img img-responsive img-circle">
                </a>
                  </div>
                  <div class="col-xs-8" style="border:1px solid black; padding:4px;">
                    <!-- <div> -->
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, dignissimos. Facilis dolorem eaque aperiam labore, dicta
                    </p>
                    <!-- </div> -->
                  </div>
                </div>
              </li>
              <p class="text-right">26 aout</p>

              <!-- réponse -->
              <li>
                <div class="row">
                  <!-- <div class="col-xs-2">
                    <a href="">
                <img src="http://via.placeholder.com/250x250" class="img img-responsive img-circle">
                </a>
                  </div> -->
                  <div class="col-xs-8 col-xs-offset-4" style="border:1px solid black; padding:4px; margin-top:5px; margin-bottom:5px;">
                    <!-- <div> -->
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, dignissimos. Facilis dolorem eaque aperiam labore, dicta
                    </p>
                    <!-- </div> -->
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <!-- <div class="col-xs-2">
                    <a href="">
                <img src="http://via.placeholder.com/250x250" class="img img-responsive img-circle">
                </a>
                  </div> -->
                  <div class="col-xs-8 col-xs-offset-4" style="border:1px solid black; padding:4px; margin-top:5px; margin-bottom:5px;">
                    <!-- <div> -->
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, dignissimos. Facilis dolorem eaque aperiam labore, dicta
                    </p>
                    <!-- </div> -->
                  </div>
                </div>
              </li>
              <!-- réponse -->

              <li>
                <div class="row">
                  <div class="col-xs-2">
                    <a href="">
                <img src="http://via.placeholder.com/250x250" class="img img-responsive img-circle">
                </a>
                  </div>
                  <div class="col-xs-8" style="border:1px solid black; padding:4px;">
                    <!-- <div> -->
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, dignissimos. Facilis dolorem eaque aperiam labore, dicta
                    </p>
                    <!-- </div> -->
                  </div>
                </div>
              </li>
              <p class="text-right">27 aout</p>
            </ul>
          </div>
        </div>
        <!-- Conversation -->

        <!-- Ecriture réponse -->
        <div class="row">
          <form [formGroup]="newMessageForm" novalidate>
            <div class="form-group" style="margin-top: 15px; ">
              <div style="border-top: 1px solid orange; padding-bottom:10px;"></div>
              <input type="text" class="form-control" id="" name="newMessage" formControlName="newMessage" placeholder="Rédigez un message">
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-default" (click)="onSubmitClick()">Envoyer</button>
            </div>
          </form>
        </div>
        <!-- Ecriture réponse -->

      </div>
      <!-- Droite -->

    </div>
  </div>
</div>
