<ul class="links-list">
  <li (click)="onClickShowFeeds()"><a class="links-text">Votre flux d'actualité</a></li>
  <li><a class="links-text" (click)="showSendMessageEvent()">Envoyer un message</a></li>
  <li><a class="links-text" href="/profile">Voir mon profil</a></li>
  <li><a class="links-text" href="/change-password">Changer mon mot de passe</a></li>
  <li><a class="links-text" href="/list-membres">Rechercher un ami</a></li>

  <li><a class="links-text" (click)="onLogoutClick()">Deconnexion <span class="glyphicon glyphicon-log-out"></span></a></li>
</ul>
