<div class="row">
  <div class="col-xs-12">
    <div class="row header">
      <div class="col-backline"></div>
      <div class="header-block col-xs-8 col-xs-offset-2">
        <!-- <img src="/assets/images/eath_globe.png" alt="" sizes="" srcset=""> -->
        <h2 class="text-center">Road Trip <span>Social</span></h2>
        <h3 class="text-right">Administration</h3>
      </div>
    </div>


    <!-- Menu -->
    <div class="row menu-row">
      <div class="col-xs-8 col-xs-offset-2">

        <button class="col-xs-3 menu-panel text-center btn btn-default" (click)="manageUsers()">
          <!-- <button class="btn btn-default"> -->
          <img src="/assets/images/admin/users.png" alt="Gestion des utilisateurs" title="Gestion des utilisateurs" class="img img-responsive img-rounded">
          <p class="">Gestion des utilisateurs</p>
          </button>
        <!-- </div> -->

        <button class="col-xs-3 menu-panel text-center btn btn-default" (click)="manageMessages()">
          <img src="/assets/images/admin/Messages.png" alt="Gestion des messages" title="Gestion des messages" class="img img-responsive img-rounded">
          <p class="">Gestion des messages</p>

          </button>


        <button class="col-xs-3 menu-panel text-center btn btn-default" (click)="showStatistics()">
          <img src="/assets/images/admin/statistics.png" alt="Affichage des statistiques d'utilisation" title="Affichage des statistiques d'utilisation"
            class="img img-responsive img-rounded">
          <p class="">Statistiques d'utilisation</p>
            </button>

      </div>
    </div>
    <!-- Fin Menu -->

    <!-- <div class="separator"></div> -->
    <div class="row">
      <div class="col-xs-12" *ngIf="_adminService.isUsermanagement">
        <rts-admin-users></rts-admin-users>
      </div>
      <div class="col-xs-12" *ngIf="_adminService.isMessageManagement">
        <rts-admin-messages></rts-admin-messages>
      </div>
      <div class="col-xs-8 col-xs-push-2" *ngIf="_adminService.isStattistics">
        <rts-admin-statistics></rts-admin-statistics>
      </div>
    </div>
  </div>
</div>
