.post {
  /* border: 1px solid #807a7a; */
  margin-top: 15px;
  margin-bottom: 15px;
}


/* Contenu des posts */

.post-content {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(66, 85, 103);
  /* margin-bottom: 10px; */
  margin-top: 20px;
  margin-bottom: 5px;
  border-top: 2px solid #e77b20;
}

.date-post {
  font-size: 1.0rem;
}


/* Contenu des posts */


/* Commentaires */

.comment {
  background-color: #646b79;
  border-left: 1px solid #4B4848;
  /* border-bottom: 1px solid #4B4848; */
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  /* margin-top: 5px; */
  margin-bottom: 1px;
}

.btn-response {
  background-color: #646b79;
  color: #FEFEFE;
  font-size: 1.2rem;
}

.btn-comment {
  background-color: #425567;
  color: #FEFEFE;
  font-size: 1.2rem;
}

.form-control {
  /* background-color: #464a50; */
  background-color: rgba(255, 255, 255, 0);
  color: #FEFEFE;
}

.form-control::-webkit-input-placeholder {
  color: #cac1c1;
}

input {
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.form-control button {
  background-color: #464a50;
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
  /* background-color: #464a50; */
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}


/* Commentaires */
