<div class="container-fluid">
  <div class="row">
    <div class="slider">
      <div class="col-sm-6 title-text">
        <h1>Voyage et <span>partage</span><br /> tes expériences avec tes amis</h1>
      </div>
    </div>
  </div>
  <div class="row second-block">
    <div class="second-block-back">
      <div class="col-sm-6">
        <p><span>7</span> voyageurs en ligne</p>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-push-4 col-sm-6">
        <p><span>53</span> voyageurs enregistrés</p>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-push-9 col-sm-3">
        <p><span>156</span> voyages</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row map-monde">
  </div>
</div>