footer {
 background: url('./assets/img/end_footer.png') center;
 background-size: cover;
 background-repeat: no-repeat;
 padding: 10px;
}

footer p {
  font-family: Lato;
  color: #ffffff;
  font-size: 16.67px; 
  padding: 10px 0;
}

footer p span:first-child {
  color: #ffffff;
  font-size: 16.67px; 
  font-weight: 700;
  text-align: left;
}

footer p span {
  font-weight: 400;
  text-align: left;
  font-family: Lato;
  color: #ffffff;
  font-size: 16.67px;
}

footer p a {
  font-weight: 300;
  text-align: left;
  font-family: Lato;
  color: #ffffff;
}