.slider {
  height: 436px;
  background: url('../assets/img/bg_header.png') center;  
  background-repeat: no-repeat;
  background-size: cover;   
}

.title-text {
  padding-top: 135px;
  padding-left: 74px;
}

.title-text h1 {  
  font-family: Lato;
  color: #ffffff;
  font-size: 45.87px; /* Approximation causée par une substitution de police */
  font-weight: 300;
  text-align: left;
}

.title-text h1 span {
  font-family: Lato;
  color: #ffffff;
  font-size: 45.87px; /* Approximation causée par une substitution de police */
  font-weight: 400;
  text-align: left;
}

.second-block {  
  background-color: rgba(44, 62, 80, .9);
  height: 400px;  
}

.second-block-back{
  background: url('../assets/img/himesh-kumar-behera-216019.png') center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.second-block p {
  /* Style intégré */
  font-family: Lato;
  color:  #ffffff;
  font-size: 52.08px;/* Approximation causée par une substitution de police */
  font-weight: 300;
  text-align: left;
  padding: 28px 15px;
}

.second-block p span {
  font-family: Lato;
  color:  #a3ccff;
  font-size: 52.08px;/* Approximation causée par une substitution de police */
  font-weight: 700;
  text-align: left;
}

.map-monde {
  height: 778px;
  background: url('../assets/img/map_monde.png') center;
  background-size: cover;  
  background-repeat: no-repeat;
}